// $background-color: #dae9f4;
// $primary-color: #7f9eb2;
// $secondary-color: #77919d;
// $third-color: #274c5e;

$background-color: #D7FFF1;
$primary-color: #8CD790;
$secondary-color: #77AF9C;
$third-color: #285943;